<template>
  <div class="home">
    <MainHeader/>

    <PopularSlider/>

    <CartModal v-if="cartModal"/>
    

  </div>
</template>

<script>
import MainHeader from "@/components/MainHeader";
import PopularSlider from "@/components/PopularSlider";
import CartModal from "@/components/CartModal";
import { mapState } from 'vuex';

export default {
  name: 'Home',
  components: {
    MainHeader,
    PopularSlider,
    CartModal
  },
  computed: {
    ...mapState(['cartModal']),
  },
}
</script>