<template>
   <div class="cart" @click="showCart()">
        <img src="../assets/cart.png" alt="cart" />
        <span>
          <!-- counter -->
        </span>
      </div>
</template>

<script>

import { mapState, mapMutations, mapActions } from 'vuex';

export default {
    name: "Cart",
    computed: {
        ...mapState(['cartModal'])
    },
    methods: {
        ...mapMutations(['SET_CART_MODAL']),
        ...mapActions(['showCartModal']),
        showCart() {
            this.showCartModal(!this.cartModal);
        }
    },
}
</script>

<style>

</style>

