<template>
  <div class="cart-modal">
      cart modal
  </div>
</template>

<script>
export default {
    name : "CartModal",
    data() {
        return {
            
        }
    }
}
</script>

<style lang="scss">
    .cart-modal{
        background: #f4f4f4;
        outline: 1px solid red;
        padding: 20px;
        width: 300px;
        height: 300px;
        position: absolute;
        top: 100px;
        left: 35%;
        z-index: 111;
    }
</style>