<template>
  <div class="header">
    <div class="header-container">
      <div class="header-logo">
        <img src="../assets/logo.png" alt="logo" />
      </div>
      <div class="header-menu">
        <div class="header-menu__menu">
          <router-link
            :to="link.route"
            v-for="(link, index) in links"
            :key="index"
          >
            {{ link.name }}
          </router-link>
        </div>
        <div class="header-menu__geo">
          <img src="" alt="geo" />
          {{ geo_city }}
        </div>
        <div class="header-menu__search">
          <input type="text" v-model="search" />
        </div>
      </div>

      <div>
        {{ phone }}
      </div>

      <div>
        <span> Заказать звонок </span>
      </div>

      <Cart/>

    </div>
  </div>
</template>

<script>
import Cart from '@/components/Cart';

export default {
  name: "MainHeader",
  components: {
    Cart
  },
  data() {
    return {
      links: [
        {
          route: "/catalog",
          name: "Каталог",
        },
        {
          route: "/bar",
          name: "Бар",
        },
        {
          route: "/delivery",
          name: "Доставка",
        },
        {
          route: "/beer",
          name: "Пиво",
        },
        {
          route: "/tour",
          name: "Экскурсии",
        },
      ],
      phone: "+7 495 456 78 91",
      search: "",
      geo_city: "",
    };
  },
};
</script>

<style lang="scss" scoped>
.header {
  background: #000000;
  height: 128px;
  position: sticky;
  width: 100%;
  &-container {
    display: flex;
  }
}
</style>
