<template>
  <div class="popular-slider">
    <hooper :settings="sliderSetting" class="popular-slider__slider">
      <slide
        v-for="(item, index) in popularBeer"
        :key="index"
        class="popular-slider__slide"
      >
        <img :src="item.image" alt="" />
        {{ item.name }}
        {{ item.country }}
        {{ item.volume }}
        {{ item.price }}
      </slide>
      <hooper-navigation slot="hooper-addons"></hooper-navigation>
      <hooper-pagination
        class="popular-slider__pagination"
        slot="hooper-addons"
      >
      </hooper-pagination>
    </hooper>
  </div>
</template>

<script>
import {
  Hooper,
  Slide,
  Navigation as HooperNavigation,
  Pagination as HooperPagination,
} from "hooper";
import "hooper/dist/hooper.css";
import { mapState, mapActions } from "vuex";

export default {
  name: "PopularSlider",
  components: {
    Hooper,
    Slide,
    HooperPagination,
    HooperNavigation,
  },
  data() {
    return {
      sliderSetting: {
        itemsToShow: 4,
        itemsToSlide: 4,
        trimWhiteSpace: true,
        infiniteScroll: true,
      },
    };
  },
  computed: {
    ...mapState(["popularBeer"]),
  },
  methods: {
    ...mapActions(["getPopularBeer"]),
  },
  async created() {
    await this.getPopularBeer();
  },
};
</script>

<style lang="scss">
.popular-slider {
  width: 1200px;
  height: auto;
  outline: 1px solid red;
  margin: 0 auto;
  &__pagination {
    outline: 3px solid red;
    .hooper-indicator {
      height: 16px;
      width: 16px;
    }
  }
  &__slide {
  }
  &__slider {
  }
}
</style>